USE [master]
GO
/****** Object:  Database [Loggin]    Script Date: 22/04/2023 12:01:23 ******/
CREATE DATABASE [Loggin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Loggin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Loggin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Loggin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Loggin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Loggin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Loggin]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 22/04/2023 12:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Legajo] [int] NULL,
	[Nivel] [nvarchar](40) NULL,
	[CorreoElectronico] [nvarchar](80) NULL,
	[Pass] [nvarchar](50) NULL,
	[BajaLogica] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
